/*Vanilla Fireworks | MIT License | https://github.com/Shadow-Scientist/vanilla-fireworks*/

body{
	padding:0;
	margin:0;
	background:black;
	width:100vw;
	height:100vh;
	overflow:hidden;
}

#container{
	position:absolute;
	left:0;
	top:0;
	width:100%;
	height:100%;
}

.box{
	position:absolute;
	left:50%;
	top:200px;
	transform:translateX(-50%) rotate(0deg);
	border-radius:50%; /*make it a circle*/
	animation:rotate linear 8s forwards;
}

.spike{
	position:absolute;
	left:0;
	top:0;
	width:100%;
	height:0px;
	border-radius:10px;
	animation:ff ease 1.1s var(--layer-delay, 0s) forwards; /*better*/
}

.rocket{
	position:absolute;
	top:100%;
	width:8px;
	height:100px;
	border-radius:10px;
	transform:translate(-50%,50%);
	animation:rocket cubic-bezier(.19,1,.22,1) 2s forwards;
}

#controls{
	position:absolute;
	left:50%;
	bottom:80px;
	background-color:rgba(255,255,255,0.1);
	transform:translateX(-50%);
	font-family:"Raleway";
	font-size:40px;
	font-weight:bold;
	color:white;
	padding:10px 20px;
	letter-spacing:8px;
	display:inline-block;
	white-space:nowrap;
	opacity:0.2;
	transition:opacity ease 0.2s;
	user-select:none;
}

#controls:hover{
	opacity:1;
}

#controls > input{
	position:relative;
	top:-8px;left:0;
	appearance:none;
	-webkit-appearance:none;
	width:300px;
	height:10px;
	border-radius:4px;
	background-color:rgba(255,255,255,0.1);
	margin-left:20px;
	outline:none;
}

input[type="range"]::-moz-range-thumb{
	appearance:none;
	-webkit-appearance:none;
	width:50px;
	height:25px;
	background-color:rgb(0,125,255);
	border:none;
	border-radius:5px;
	transition:all ease 0.2s;
}

input[type="range"]:active::-moz-range-thumb{
	box-shadow:0 0 0 6px rgba(0,125,255,0.2);
}

input[type="range"]::-webkit-slider-thumb{
	appearance:none;
	-webkit-appearance:none;
	width:50px;
	height:25px;
	background-color:rgb(0,125,255);
	border:none;
	border-radius:5px;
	transition:all ease 0.2s;
}

input[type="range"]:active::-webkit-slider-thumb{
	box-shadow:0 0 0 6px rgba(0,125,255,0.2);
}

@keyframes rocket{
	to{
		top:var(--top);
		width:4px;
		height:0px;
		opacity:0;
	}
}

@keyframes ff{
	90%{
		top:65%;
		height:100px;
	}
	100%{
		transform:scale(0);
	}
}

@keyframes rotate{
	to{
		transform:translateX(-50%) rotate(360deg);
	}
}